
body{
  background: rgb(0, 0, 0);
}
.App {
  text-align: center;
  display: block;
}
.titleApp{
  display: flex;
  width: auto;
}
.spacemanImg {
  position:fixed;
  right: -7rem;
  z-index: -1;
}
.nasaImg {
  width: 10rem;
  height: 10rem;
}
.socialMedia {
  float: right;
  margin-right: 7rem;
  margin-top: -7rem;
}
.socialMedia > a {
  margin: .2rem;
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) { 
  
  .socialMedia {
    margin-right: -2rem;
    margin-top: -4rem;
    margin-bottom: auto;
    display: inline-block;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
  
  body {
    columns: 2;
  }
  .socialMedia {
    margin-right: -7rem;
    margin-top: -4rem;
    margin-bottom: auto;
    display: inline-block;
    width: 100%;
  }
  .titleApp{
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  
  .socialMedia {
    float: right;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .nasaImg {
    width: 7rem;
    height: 7rem;
  }
}