.TimelineBox{
    width: 80%;
    margin-left: 1rem;
}
.tweetBox {
    width: 20rem;
    margin: 1rem 1rem;
    height: auto;
    background-color:#39719e;
	border-radius:3px;
	display:inline-block;
	color:rgb(255, 255, 255);
	font-family: 'Titillium Web', sans-serif;
	font-size:15px;
	padding:6px 24px;
	
}
@media only screen and (min-width: 1024px) and (max-width: 1024px) { 
    .TimelineBox{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    .TimelineBox{
        margin-left: -.8rem;
    }
}
@media only screen and (max-width: 767px) {
    .TimelineBox{
        margin-left: auto;
        margin-right: auto;
    }
    .tweetBox {
        width: auto;
    }
}